---
import Header from '../components/Header.astro';
import '../styles/global.css';

// SEO props
const {
  title = 'Bohdan Karamanets | Web Developer Portfolio',
  description = 'Portfolio of Bohdan Karamanets, web developer. Modern, fast, and visually striking websites for personal brands and businesses.',
  image = '/avatar.png',
  url = 'https://your-domain.com/', // замените на ваш домен
  navLabels,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <link rel="canonical" href={url} />
  </head>
  <body>
    {
      Astro.url.pathname === '/privacy' ||
      Astro.url.pathname === '/terms-of-service' ? (
        <Header navLabels={navLabels} />
      ) : (
        <Header navLabels={navLabels} />
      )
    }
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
